{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Диагностика состояния здоровья</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% block style %} {% endblock %}
</head>




<body>
    <div class="header">
        <div class="header-content">
            <div class="header-title" onclick="showModal()">calcuhls<br><span
                style="font-size: 15px;"></span></div>

            <div style="width: 550px;">
            <p style="font-size: 11px; margin-bottom: 7px; margin-top: 0;"></p>
            <p style="font-size: 17px; font-weight: bold; margin: 0;">
                Калькулятор здоровья <br> 
            </p>
            </div>

            <div class="language">
            <span id="current-language">Русский</span>
            <div id="language-dropdown" style="display: none" class="language-dropdown">
                <ul>
                <li><a href="{% url 'set_language' 'ru' %}">Русский</a></li>
                <li><a href="{% url 'set_language' 'en' %}">English</a></li>
                <!-- Добавьте другие языки, если необходимо -->
                </ul>
            </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="modal">
          <h2>Вернуться на главную страницу?</h2>
          <div class="modal-buttons">
            <a style="cursor: pointer;" onclick="closeModal()">Отмена</a>
            <button onclick="closeModal(); startNewDiagnosis()">Да</button>
          </div>
        </div>
    </div>
    {% block content %} {% endblock %}




    <hr>
    <div class="footer-header">
        <div class="documents-container">
            <div class="documents" style="display: flex; flex-direction: column; text-align: left; margin-top: 0;">
                <div style="margin-bottom: 20px;">
                    <a href="javascript:void(0);" onclick="showRules()" style="color: #888b94;">Условия регистрации специалиста
                        сайта</a>
                </div>
            </div>
            <div class="footer">

                <div style="margin-bottom: 20px;">
                    <a href="javascript:void(0);" onclick="showInfo()" style="color: #888b94;">О сервисе</a>
                </div>
                <div style="margin-bottom: 20px;">
                    <a href="javascript:void(0);" onclick="showContactModal()" style="color: #888b94;">Контакты</a>
                </div>
            </div>
            <div class="cards">
                <img src="{% static 'img/visa.png' %}"></img>
                <img src="{% static 'img/mastercard.png' %}"></img>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>2023 calcuhealth. Все права защищены.</p>
    </div>
    
    <div class="overlay overlay-info">
        <div class="modal">
            <span class="close-button" onclick="closeInfo()">&#10006;</span>
            О СЕРВИСЕ CALCUHEALTH<br>
            <br>
            Сервис calcuhealth является площадкой, на которой пользователь сайта calcuhealth.com может найти нужного
            специалиста для
            получения его консультации.
            <br>
            Сервис создан командой врачей и ИТ-специалистов с учетом современных технологий в области медицины и
            цифровой
            отрасли.
        </div>
    </div>

    <div class="overlay overlay-contact">
        <div class="modal">
            <span class="close-button" onclick="closeContactModal()">&#10006;</span>
            <h2>Контакты 5</h2>
            <p>Телефон, WhatsApp, Telegram: <b>+7 702 604 2735</b>
                <br>
                <br>
                E-mail: <b>sm8ds8dr@gmail.com</b>
                <br>
                <br>
                Обращайтесь по всем вопросам, в том числе:
                <br>
                - регистрация врача или другого специалиста,
                <br>
                - бизнес-сотрудничество,
                <br>
                - предложения по улучшению сервиса.
            </p>
        </div>
    </div>
    <div class="overlay overlay-documents-rules">
        <div class="modal-documents">
          <span class="close-button" onclick="closeRules()">&#10006;</span>
          <div style="margin-left: 3%;">
            УСЛОВИЯ РЕГИСТРАЦИИ СПЕЦИАЛИСТА

4.3. При наличии экстренных симптомов или состояний, угрожающих жизни или здоровью Пользователя, Специалист должен экстренно отреагировать путем звонка (если эти функции поддерживает данное Средство коммуникации) и/или отправки сообщения по указанному Средству коммуникации,.

				
1.	ОБЩИЕ ПОЛОЖЕНИЯ

1.1. Документ «Условия регистрации специалиста» (далее - Условия) описывает условия, которые должны быть соблюдены и приняты пользователем, регистрирующимся как специалист на сайте calcuhls.com (далее - Сайт), принадлежащему ИП Ахметжанов О. (Республика Казахстан, г. Алматы, Тимирязева 99/1).
1.2. Действующая редакция настоящих Условий, постоянно доступна для ознакомления, и размещена в сети интернет по адресу: calcuhls.com.
1.3. Регистрация пользователя на Сайте как специалиста означает что данные Условия соблюдены и приняты.
1.4. Если пользователь не согласен с Условиями, он не должен регистрироваться на Сайте как специалист.

2.	ОПРЕДЕЛЕНИЯ ТЕРМИНОВ
2.1. Администрация сайта (далее ‑ Администрация) – уполномоченные сотрудники на управление Сайтом.
2.2. Пользователь сайта (далее ‑ Пользователь) – физическое лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.
2.3. Специалист – врач, другой медицинский или социальный работник, психолог, диетолог или иной профессиональный работник, предлагающий свои услуги в сфере лечения, сохранения и укрепления здоровья, а также в профилактике заболеваний.
2.4. Опрос – форма взаимодействия Сайта с Пользователем, заключающаяся в получении от Пользователя информации о состоянии здоровья, с целью составления Результата диагностики и получения списка профильных Специалистов по вероятностным диагнозам и состояниям.
2.5. Результат диагностики – информация, сгенерированная компьютерной системой после проведения Опроса, с целью описания потенциальных угроз и заболеваний, потенциально связанных с симптомами и предрасположенностями, указанными Пользователем во время Опроса, а также перечень наиболее подходящих Специалистов. Результат диагностики не является и не заменяет медицинский диагноз или медицинскую консультацию.
2.6. Содержание сайта (далее – Содержание) – охраняемые результаты интеллектуальной деятельности, включая графические элементы, технические решения, текст, программное обеспечение, базы данных, иллюстрации, фотографии, составные и иные произведения, пользовательские интерфейсы, визуальные интерфейсы, названия товарных знаков, логотипы, программы для ЭВМ, а также дизайн, структура, выбор, координация, внешний вид, общий стиль и расположение данного Содержания, входящего в состав Сайта и другие объекты интеллектуальной собственности все вместе и/или по отдельности, содержащиеся на Сайте.
2.7. Искусственный Интеллект – программный алгоритм, выполняющий интеллектуальные функции.

2.8. Личный кабинет – это рабочее пространство Специалиста, доступное после авторизации.





2.8. Законодательство — действующее законодательство Республики Казахстан.
2.9. Форс-мажор – чрезвычайное событие, возникшее вследствие внешнего воздействия после принятия Правил, которое невозможно было ни предвидеть, ни предотвратить, и которое полностью или частично делает невозможным выполнение обязательств данных Правил, включая, в частности: войну, революцию, пожар, наводнение, эпидемию, ограничение транспортного сообщения, всеобщую забастовку, затрагивающую важные отрасли экономики, официальные решения государственных или местных органов власти, а также нарушения транспортного сообщения, вызванные террористическими атаками.

3.	ПРЕДМЕТ ПРАВИЛ
3.1. Предметом настоящих Правил является порядок предоставления Пользователю доступа к содержащейся на Сайте информации и оказываемым услугам.
3.2. Под действие настоящих Правил подпадают все существующие (реально функционирующие) на данный момент услуги (сервисы) Сайта, а также любые их последующие модификации и появляющиеся в дальнейшем дополнительные услуги (сервисы) Сайта.
3.3. Настоящие Правила являются публичной офертой. Получая доступ к Сайту, Пользователь считается присоединившимся к настоящим Правилам. 
3.4. Использование материалов и сервисов Сайта регулируется нормами действующего Законодательства.


4. ПРИНЦИПЫ РАБОТЫ САЙТА
4.1. Сайт является инструментом, который может быть использован в диагностике пациента путем применения собственной системы Искусственного интеллекта. Искусственный интеллект Сайта проанализирует данные пациента (физикальные показатели, симптомы, лабораторные данные, анамнез, принимаемые лекарства, образ жизни, …) и выдаст наиболее вероятные диагнозы, укажет на наличие ургентных состояний, покажет связь между имеющимися жалобами и отклонениями в лабораторных показателях с принимаемыми лекарствами, образом жизни, а также проведет другие расчеты показателей здоровья.
4.2. Параллельно Сайт является площадкой, на которой пациенты могут найти нужного специалиста, а специалисты в сфере лечения, сохранения и укрепления здоровья, могут заявить о своих услугах.


Пользователи сайта (пациенты) вводят данные о своем здоровье (рост, вес, жалобы, лабораторные показатели, прошлые заболевания, привычки, …), затем Искусственный интеллект Сайта анализирует эти данные, определяет наиболее вероятные диагнозы и под них подбираются подходящие Специалисты. Пациент может выбрать определенного Специалиста и тогда данному специалисту на почту отправляется заявка этого пациента. В заявке от пациента может быть предоставлен анализ его данных Искусственным интеллектом Сайта. Специалист в Личном кабинете может выбрать как он желает получать запрос на свои услуги от пациентов: 
- только симптомы пациента без их интерпретации Искусственным интеллектом Сайта (бесплатно);
- симптомы пациента и три наиболее вероятных диагноза или состояния выявленных Искусственным интеллектом Сайта (бесплатно);
- симптомы пациента и их подробный анализ Искусственным интеллектом Сайта, оплата через ежемесячную подписку.


5. ПРАВИЛА РЕГИСТРАЦИИ СПЕЦИАЛИСТОВ НА САЙТЕ
5.1. Как Специалист Пользователь сайта должен приступить к регистрации фактически являясь Специалистом и предлагающим свои профессиональные услуги в сфере лечения, сохранения и укрепления здоровья, а также в профилактике заболеваний, не запрещенные Законодательством.
240423 1403



4. ПРИНЦИПЫ ПОЛЬЗОВАНИЯ САЙТОМ
4.1. Сайт предоставляет Пользователю следующие виды услуг (сервисов):
- доступ к электронному контенту, с правом просмотра контента;
- отправка Специалисту запроса на консультацию;
- возможность оплаты консультации выбранного Специалиста;
- иные виды услуг (сервисов), реализуемые на страницах Сайта.
4.2. Цель Сайта состоит в том, чтобы представить Пользователю исключительно в информационных и образовательных целях потенциальные заболевания и состояния, которые могут, но не должны быть непосредственно связаны с симптомами, сообщенными Пользователем во время Опроса, с целью представления Результата диагностики, в котором могут быть представлены наиболее подходящие Специалисты, согласно введенным симптомам Пользователя. 
4.3. Опрос, Результат диагностики и весь контент, находящийся на Сайте, имеют исключительно информационно-образовательный характер и никоим образом не могут быть истолкованы или рассматриваться как совет, консультация или диагноз врача. Сайт не предназначен для проведения самодиагностики и индивидуального лечения, или лечения третьего лица, основанного на информации, полученной с помощью Сайта. Вся информация, полученная с помощью Сайта, в частности, информация о болезнях, сгенерированная компьютерной системой в виде Результата диагностики, не является какой-либо формой медицинского обслуживания и не заменяет посещения врача, медицинский диагноз или какую-либо форму консультации с врачом. Получатель услуг должен всегда консультироваться со своим врачом перед любыми действиями или решениями, принятыми на основании Результата диагностики.
4.4. Получатель услуг никогда не должен отказываться от профессиональной консультации врача или отменять прием у врача из-за того, что он полагается на информацию, прочитанную или услышанную на Сайте.
4.5. Сайт нельзя использовать в чрезвычайной ситуации. Вместо этого Пользователь должен прекратить использование Сайта и немедленно связаться со Скорой медицинской помощью (по телефону 103, 112 или другим способом). 
4.6. Администрация указывает, что основанием для использования любых фармацевтических средств, в т.ч. тех, которые перечислены на Сайте, может быть только консультация врача или другого сертифицированного специалиста.
4.7. Доступ к Сайту предоставляется на бесплатной основе, без регистрации Пользователя.
4.8. Сайт не запрашивает паспортные данные пользователя, в том числе такие как фамилия, имя, отчество, дату и год и рождения, ИИН, № паспорта, № удостоверения личности. Пользователь не должен вводить эти данные на Сайте.
4.9. Сайт и Содержание, входящее в состав Сайта, принадлежит и управляется Администрацией. Содержание Сайта не может быть скопировано, опубликовано, воспроизведено, передано или распространено любым способом, а также размещено в глобальной сети Интернет без предварительного письменного согласия Администрации.
4.10. Содержание Сайта защищено авторским правом, Законодательством о товарных знаках, а также другими правами, связанными с интеллектуальной собственностью и Законодательством о недобросовестной конкуренции.
4.11. Настоящие Правила распространяют свое действия на все дополнительные положения и условия по оказанию услуг, предоставляемых на Сайте. 
4.12. Информация, размещаемая на Сайте, не должна истолковываться как изменение настоящих Правил.

5.	ПРАВА И ОБЯЗАННОСТИ СТОРОН
5.1. Права и обязанности Администрации
5.1.1. Администрация имеет право
5.1.1.1. Частично или полностью отключить функционирование Сайта с целью проведения его ремонта или модернизации, а также изменять содержание Сайта без необходимости предварительно информировать получателей услуг. 
5.1.1.2. Изменять Правила без необходимости предварительно информировать получателей услуг. Изменения вступают в силу с момента публикации новой редакции Правил на Сайте.
5.1.1.3. Ограничить доступ к Сайту частично или полностью в случае нарушения Пользователем условий настоящих Правил.
5.1.2. Администрация не несет ответственности за: 
5.1.2.1. Содержание и последствия консультации Специалиста, найденного через Сайт.
5.1.2.2. Действия или бездействия Пользователей в связи с информацией, полученной через Сайт.
5.1.2.3. Использование лекарственных и других фармацевтических средств, перечисленных на Сайте.
5.1.2.4. Неисполнение или ненадлежащее исполнение обязательств, вытекающих из Правил, в результате неисправного оборудования или программного обеспечения Пользователя.
5.1.2.5. Достоверность, честность, правильность и полноту данных и информации, вводимых Пользователем на Сайте.
5.1.2.6. Любые убытки, которые Пользователь может понести в случае умышленного или неосторожного нарушения любого положения настоящих Правил, а также вследствие несанкционированного доступа к коммуникациям другого Пользователя, Администрацией не возмещаются.
5.1.2.7. Задержки или сбои в процессе совершения операции, возникшие вследствие форс-мажорной ситуации, а также любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных смежных системах.
5.1.2.8. Действия систем переводов, банков, платежных систем и за задержки, связанные с их работой.
5.1.2.9. Ненадлежащее функционирование Сайта в случае, если Пользователь не имеет необходимых технических средств для его использования, а также не несет никаких обязательств по обеспечению пользователей такими средствами. 
5.1.2.10. Ущерб, вызванный действием третьих лиц, за которые Администрации не несет ответственности.
5.1.2.11. Ущерб, вызванный в связи с продажей товаров и предоставлением услуг, связанных с размещением на Сайте рекламных, акционных и информационных материалов, в частности товаров и услуг, выполненных ненадлежащим образом, без соблюдения требуемых стандартов, с нарушением Законодательства или отсутствием предлагаемых свойств.
5.1.2.12. Перебои в функционировании Сайта по причинам, не зависящим от Администрации, в частности по Форс-мажорным причинам.
5.1.2.13. Контент, размещенный на веб-сайтах, расположенных на других доменах, не принадлежащих Администрации, на которые были размещены гиперссылки в Сайте.

5.2. Права и обязанности Пользователя
5.2.1. Пользователь имеет право
5.2.1.1. Получить доступ к использованию Сайта после принятия настоящих Правил, Политики конфиденциальности и других обязательных соглашений.
5.2.1.2. Пользоваться всеми имеющимися на Сайте услугами, а также запрашивать консультации Специалистов, предлагаемых на Сайте.
5.2.1.3. Пользоваться Сайтом исключительно в целях, не связанных с его хозяйственной или профессиональной деятельностью (потребители), а лишь для себя, согласно предусмотренных Правил и не запрещенных Законодательством.
5.2.1.4. В процессе Опроса Пользователь может сообщать данные о состоянии своего здоровья используя носимые медицинские устройства (сертифицированные согласно пункту 7 статьи 60 Кодекса «О здоровье народа и системе здравоохранения» в соответствии с инструкцией по их применению).
5.2.1.5. Задавать любые вопросы, относящиеся к услугам Сайта по реквизитам, которые находятся в разделе Сайта «Контакты».
5.2.2. Пользователь обязуется:
5.2.2.1. Принять Правила, согласится на использование переданной информации для проведения диагностики и принять другие обязательные соглашения. Продолжение использования Сайта Пользователем означает принятие данных Правил и других обязательных соглашений. Принятие Правил является добровольным. Если условия Правил не будут приняты, Пользователь должен воздержаться от использования Сайта.
5.2.2.2. Пользователь несет персональную ответственность за проверку настоящих Правил перед их принятием.
5.2.2.3. Вводить полные и достоверные данные при проведении Опроса.
5.2.2.4. Пользователь несет персональную ответственность за сохранение конфиденциальности информации, которая может быть получена с компьютера или другого устройства (в том числе мобильного телефона) Пользователя путем непосредственного подсмотра третьими лицами во время проведения Опроса и/или другого доступа к компьютеру или устройству Пользователя.
5.2.2.5. Принять Правила, и другие обязательные соглашения каждый раз при проведении Опроса.
5.2.2.6. Пользователь должен быть лицом старше 19 лет с полной правовой дееспособностью.
5.2.2.7. Предоставлять по запросу Администрации дополнительную информацию, которая имеет непосредственное отношение к предоставляемым услугам данного Сайта.
5.2.2.8. Соблюдать имущественные и неимущественные права авторов и иных правообладателей при использовании Сайта.
5.2.2.9. Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу Сайта.
5.2.2.10. Не распространять с использованием Сайта любую конфиденциальную и охраняемую Законодательством Республики Казахстан информацию о физических либо юридических лицах. 
5.2.2.11. Избегать любых действий, в результате которых может быть нарушена конфиденциальность охраняемой Законодательством информации.
5.2.2.12. Не использовать Сайт для распространения информации рекламного характера, иначе как с согласия Администрации.
5.2.2.13. Не использовать сервисы Сайта с целью: 
	размещение ссылок на веб-сайты или контента, который является незаконным, нарушает любые права третьих лиц; пропагандирует порнографию, насилие, жестокость, ненависть и (или) дискриминацию по расовому, национальному, половому, религиозному, социальному признакам; содержит недостоверные сведения и (или) оскорбления в адрес конкретных лиц, организаций, органов власти;
	побуждения к совершению противоправных действий, а также содействия лицам, действия которых направлены на нарушение ограничений и запретов, действующих на территории Республики Казахстан;
	нарушения прав несовершеннолетних лиц и (или) причинение им вреда в любой форме;
	ущемления прав меньшинств;
	представления себя за другого человека или представителя организации и (или) сообщества без достаточных на то прав, в том числе за сотрудников данного Сайта;
	введения в заблуждение относительно Сайта и предоставляемых им Специалистов;
	некорректного сравнения Специалистов, а также формирования негативного отношения к лицам, (не) пользующимся консультациями определенных Специалистов, или осуждения таких лиц.
5.2.3. Пользователю запрещается:
5.2.3.1. Использовать любые устройства, программы, процедуры, алгоритмы и методы, автоматические устройства или эквивалентные ручные процессы для доступа, приобретения, копирования или отслеживания содержания Сайта;
5.2.3.2. Нарушать надлежащее функционирование Сайта;
5.2.3.3. Любым способом обходить навигационную структуру Сайта для получения или попытки получения любой информации, документов или материалов любыми средствами, которые специально не представлены сервисами данного Сайта;
5.2.3.4. Несанкционированный доступ к функциям Сайта, любым другим системам или сетям, относящимся к данному Сайту, а также к любым услугам, предлагаемым на Сайте;
5.2.3.5. Нарушать систему безопасности или аутентификации на Сайте или в любой сети, относящейся к Сайту. 
5.2.3.6. Выполнять обратный поиск, отслеживать или пытаться отслеживать любую информацию о любом другом Пользователе Сайта.
5.2.3.7. Использовать Сайт и его Содержание в любых целях, запрещенных Законодательством, а также подстрекать к любой незаконной деятельности или другой деятельности, нарушающей права Сайта или других лиц.

6. СЛУЧАИ РАСКРЫТИЯ ИНФОРМАЦИИ АДМИНИСТРАЦИЕЙ
6.1. Администрация вправе раскрыть любую собранную о Пользователе данного Сайта информацию, если раскрытие необходимо в связи с расследованием или жалобой в отношении неправомерного использования Сайта либо для установления (идентификации) Пользователя, который может нарушать или вмешиваться в права Администрации или в права других Пользователей Сайта.
6.2. Администрация имеет право раскрыть любую информацию о Пользователе, которую посчитает необходимой для выполнения положений действующего Законодательства или судебных решений, обеспечения выполнения условий настоящих Правил, защиты прав или безопасности Сайта и его Пользователей.
6.3. Администрация имеет право раскрыть информацию о Пользователе, если действующее Законодательство требует или разрешает такое раскрытие.
6.4. Администрация вправе без предварительного уведомления Пользователя прекратить и (или) заблокировать доступ к Сайту, если Пользователь нарушил настоящие Правила или содержащиеся в иных документах условия пользования Сайтом, а также в случае прекращения действия Сайта либо по причине технической неполадки или проблемы.
6.5. Администрация не несет ответственности перед Пользователем или третьими лицами за прекращение доступа к Сайту.

7.	РАЗРЕШЕНИЕ СПОРОВ
7.1. В случае возникновения любых разногласий или споров между Сторонами настоящих Правил обязательным условием до обращения в суд является предъявление претензии (письменного предложения о добровольном урегулировании спора).
7.2. Получатель претензии в течение 30 календарных дней со дня ее получения, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
7.3. При невозможности разрешить спор в добровольном порядке любая из Сторон вправе обратиться в суд за защитой своих прав, которые предоставлены им действующим Законодательством.
7.4. Любой иск в отношении условий использования Сайта должен быть предъявлен в течение 14 календарных дней после возникновения оснований для иска, за исключением защиты авторских прав на охраняемые в соответствии с Законодательством материалы Сайта. При нарушении условий данного пункта любой иск или основания для иска погашаются исковой давностью.
7.5. Если по тем или иным причинам одно или несколько положений Правил будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений Правил.

          </div>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function() {
            var availableCurrencies = [
                "AMD (Армянский драм)",
                "AZN (Азербайджанский манат)",
                "BYR (Белорусский рубль)",
                "EUR (Евро)",
                "GEL (Лари)",
                "KGS (Сом)",
                "KZT (Тенге)",
                "RUB (Российский рубль)",
                "USD (Доллар США)"
            ];
            $(".currency-input").autocomplete({
                source: availableCurrencies
            });
        });
    </script>
    {% block script %} {% endblock %}

</body>

</html>