{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Диагностика состояния здоровья</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% block style %} {% endblock %}
</head>

<body>
    <div class="header">
        <div class="header-content">
          <div class="header-title" onclick="showModal()">calcuhls<br><span
              style="font-size: 15px;"></span></div>

          <div style="width: 550px;">
            <p style="font-size: 11px; margin-bottom: 7px; margin-top: 0;"></p>
            <p style="font-size: 17px; font-weight: bold; margin: 0;">
              Калькулятор здоровья <br> 
            </p>
          </div>

          <div class="language">
            <span id="current-language">Русский</span>
            <div id="language-dropdown" style="display: none" class="language-dropdown">
              <ul>
                <li><a href="{% url 'set_language' 'ru' %}">Русский</a></li>
                <li><a href="{% url 'set_language' 'en' %}">English</a></li>
                <!-- Добавьте другие языки, если необходимо -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% block content %} {% endblock %}
    <hr>
  <div class="footer-header">
    <div class="documents-container">
      <div class="documents" style="display: flex; flex-direction: column; text-align: left;">
        <div style="margin-bottom: 20px;">
          <a href="javascript:void(0);" onclick="showRules()" style="color: #888b94;">Правила использования сайта</a>
        </div>
        <div style="margin-bottom: 20px;">
          <a href="javascript:void(0);" onclick="showPrivacy()" style="color: #888b94;">Политика конфиденциальности</a>
        </div>
        <div style="margin-bottom: 20px;">
          <a href="javascript:void(0);" onclick="showConsult()" style="color: #888b94;">Порядок оказания
            консультаций</a>
        </div>
      </div>
      <div class="footer">
        
        <div style="margin-bottom: 20px;">
          <a href="javascript:void(0);" onclick="showInfo()" style="color: #888b94;">О сервисе</a>
        </div>
        <div style="margin-bottom: 20px;">
          <a href="{% url 'login' %}" style="color: #888b94;">Специалистам, клиникам</a>
        </div>
        <div style="margin-bottom: 20px;">
          <a href="javascript:void(0);" onclick="showContactModal()" style="color: #888b94;">Контакты</a>
        </div>
      </div>
      <div class="cards">
        <img src="{% static 'img/visa.png' %}"></img>
        <img src="{% static 'img/mastercard.png' %}"></img>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>2023 calcuhls. Все права защищены.</p>
  </div>
  <div class="overlay">
    <div class="modal">
      <h2>Начать новую диагностику?</h2>
      <p>Вам придётся ответить на вопросы снова.</p>
      <div class="modal-buttons">
        <a style="cursor: pointer;" onclick="closeModal()">Отмена</a>
        <button onclick="closeModal(); startNewDiagnosis()">Да, начать новую диагностику</button>
      </div>
    </div>
  </div>
  <div class="overlay overlay-contact">
    <div class="modal">
      <span class="close-button" onclick="closeContactModal()">&#10006;</span>
      <h2>Контакты</h2>
      <p>Республика Казахстан, г. Алматы
        <br>
        <br>
        ИП Ахметжанов О.
        <br>
        <br>
        Телефон, WhatsApp, Telegram: +7 702 604 2735
        <br>
        <br>
        E-mail: sm8ds8dr@gmail.com
        <br>
        <br>
        Адрес: Тимирязева 99/1
        <br>
        <br>
        Обращайтесь по всем вопросам, в том числе:
        <br>
        - регистрация врача или другого специалиста,
        <br>
        - бизнес-сотрудничество,
        <br>
        - предложения по улучшению сервиса.
      </p>
    </div>
  </div>
  <div class="overlay overlay-documents-rules">
    <div class="modal-documents">
      <span class="close-button" onclick="closeRules()">&#10006;</span>
      <div style="margin-left: 3%;">     

ПРАВИЛА ИСПОЛЬЗОВАНИЯ САЙТА
				
1.	ОБЩИЕ ПОЛОЖЕНИЯ
1.1. Документ «Правила использования сайта» (далее - Правила) описывает порядок предоставления пользователю информации и услуг на сайте calcuhls.com (далее - Сайт), принадлежащему ИП Ахметжанов О. (Республика Казахстан, г. Алматы, Тимирязева 99/1).
1.2.	Информация, предоставляемая Сайтом, не является полноценной медицинской диагностикой и не заменяет консультацию квалифицированного медицинского специалиста. Данная информация предназначена для общего сведения и поиска наиболее подходящих врачей и других специалистов. Обследование на Сайте не предназначено для экстренных случаев. 
1.3. Действующая редакция настоящих Правил, постоянно доступна для ознакомления, и размещена в сети интернет по адресу: calcuhls.com.
1.4. Продолжение использования Сайта пользователем означает принятие настоящих Правил.
1.5. Если пользователь не согласен с условиями настоящих Правил, он должен прекратить использование Сайта.

2.	ОПРЕДЕЛЕНИЯ ТЕРМИНОВ
2.1. Администрация сайта (далее ‑ Администрация) – уполномоченные сотрудники на управление Сайтом.
2.2. Пользователь сайта (далее ‑ Пользователь) – физическое лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.
2.3. Специалист – врач, медицинский работник, социальный работник, психолог, диетолог или другой профессиональный работник, предлагающий свои услуги через Сайт.
2.4. Опрос – форма взаимодействия Сайта с Пользователем, заключающаяся в получении от Пользователя информации о состоянии здоровья, с целью составления Результата диагностики и получения списка профильных Специалистов по вероятностным диагнозам и состояниям.
2.5. Результат диагностики – информация, сгенерированная компьютерной системой после проведения Опроса, с целью описания потенциальных угроз и заболеваний, потенциально связанных с симптомами и предрасположенностями, указанными Пользователем во время Опроса, а также перечень наиболее подходящих Специалистов. Результат диагностики не является и не заменяет медицинский диагноз или медицинскую консультацию.
2.6. Содержание сайта (далее – Содержание) – охраняемые результаты интеллектуальной деятельности, включая графические элементы, технические решения, текст, программное обеспечение, базы данных, иллюстрации, фотографии, составные и иные произведения, пользовательские интерфейсы, визуальные интерфейсы, названия товарных знаков, логотипы, программы для ЭВМ, а также дизайн, структура, выбор, координация, внешний вид, общий стиль и расположение данного Содержания, входящего в состав Сайта и другие объекты интеллектуальной собственности все вместе и/или по отдельности, содержащиеся на Сайте.
2.7. Законодательство — действующее законодательство Республики Казахстан.
2.8. Форс-мажор – чрезвычайное событие, возникшее вследствие внешнего воздействия после принятия Правил, которое невозможно было ни предвидеть, ни предотвратить, и которое полностью или частично делает невозможным выполнение обязательств данных Правил, включая, в частности: войну, революцию, пожар, наводнение, эпидемию, ограничение транспортного сообщения, всеобщую забастовку, затрагивающую важные отрасли экономики, официальные решения государственных или местных органов власти, а также нарушения транспортного сообщения, вызванные террористическими атаками.

3.	ПРЕДМЕТ ПРАВИЛ
3.1. Предметом настоящих Правил является порядок предоставления Пользователю доступа к содержащейся на Сайте информации и оказываемым услугам.
3.2. Под действие настоящих Правил подпадают все существующие (реально функционирующие) на данный момент услуги (сервисы) Сайта, а также любые их последующие модификации и появляющиеся в дальнейшем дополнительные услуги (сервисы) Сайта.
3.3. Настоящие Правила являются публичной офертой. Получая доступ к Сайту, Пользователь считается присоединившимся к настоящим Правилам. 
3.4. Использование материалов и сервисов Сайта регулируется нормами действующего Законодательства.

4. ПРИНЦИПЫ ПОЛЬЗОВАНИЯ САЙТОМ
4.1. Сайт предоставляет Пользователю следующие виды услуг (сервисов):
- доступ к электронному контенту, с правом просмотра контента;
- отправка Специалисту запроса на консультацию;
- возможность оплаты консультации выбранного Специалиста;
- иные виды услуг (сервисов), реализуемые на страницах Сайта.
4.2. Цель Сайта состоит в том, чтобы представить Пользователю исключительно в информационных и образовательных целях потенциальные заболевания и состояния, которые могут, но не должны быть непосредственно связаны с симптомами, сообщенными Пользователем во время Опроса, с целью представления Результата диагностики, в котором могут быть представлены наиболее подходящие Специалисты, согласно введенным симптомам Пользователя. 
4.3. Опрос, Результат диагностики и весь контент, находящийся на Сайте, имеют исключительно информационно-образовательный характер и никоим образом не могут быть истолкованы или рассматриваться как совет, консультация или диагноз врача. Сайт не предназначен для проведения самодиагностики и индивидуального лечения, или лечения третьего лица, основанного на информации, полученной с помощью Сайта. Вся информация, полученная с помощью Сайта, в частности, информация о болезнях, сгенерированная компьютерной системой в виде Результата диагностики, не является какой-либо формой медицинского обслуживания и не заменяет посещения врача, медицинский диагноз или какую-либо форму консультации с врачом. Получатель услуг должен всегда консультироваться со своим врачом перед любыми действиями или решениями, принятыми на основании Результата диагностики.
4.4. Получатель услуг никогда не должен отказываться от профессиональной консультации врача или отменять прием у врача из-за того, что он полагается на информацию, прочитанную или услышанную на Сайте.
4.5. Сайт нельзя использовать в чрезвычайной ситуации. Вместо этого Пользователь должен прекратить использование Сайта и немедленно связаться со Скорой медицинской помощью (по телефону 103, 112 или другим способом). 
4.6. Администрация указывает, что основанием для использования любых фармацевтических средств, в т.ч. тех, которые перечислены на Сайте, может быть только консультация врача или другого сертифицированного специалиста.
4.7. Доступ к Сайту предоставляется на бесплатной основе, без регистрации Пользователя.
4.8. Сайт не запрашивает паспортные данные пользователя, в том числе такие как фамилия, имя, отчество, дату и год и рождения, ИИН, № паспорта, № удостоверения личности. Пользователь не должен вводить эти данные на Сайте.
4.9. Сайт и Содержание, входящее в состав Сайта, принадлежит и управляется Администрацией. Содержание Сайта не может быть скопировано, опубликовано, воспроизведено, передано или распространено любым способом, а также размещено в глобальной сети Интернет без предварительного письменного согласия Администрации.
4.10. Содержание Сайта защищено авторским правом, Законодательством о товарных знаках, а также другими правами, связанными с интеллектуальной собственностью и Законодательством о недобросовестной конкуренции.
4.11. Настоящие Правила распространяют свое действия на все дополнительные положения и условия по оказанию услуг, предоставляемых на Сайте. 
4.12. Информация, размещаемая на Сайте, не должна истолковываться как изменение настоящих Правил.

5.	ПРАВА И ОБЯЗАННОСТИ СТОРОН
5.1. Права и обязанности Администрации
5.1.1. Администрация имеет право
5.1.1.1. Частично или полностью отключить функционирование Сайта с целью проведения его ремонта или модернизации, а также изменять содержание Сайта без необходимости предварительно информировать получателей услуг. 
5.1.1.2. Изменять Правила без необходимости предварительно информировать получателей услуг. Изменения вступают в силу с момента публикации новой редакции Правил на Сайте.
5.1.1.3. Ограничить доступ к Сайту частично или полностью в случае нарушения Пользователем условий настоящих Правил.
5.1.2. Администрация не несет ответственности за: 
5.1.2.1. Содержание и последствия консультации Специалиста, найденного через Сайт.
5.1.2.2. Действия или бездействия Пользователей в связи с информацией, полученной через Сайт.
5.1.2.3. Использование лекарственных и других фармацевтических средств, перечисленных на Сайте.
5.1.2.4. Неисполнение или ненадлежащее исполнение обязательств, вытекающих из Правил, в результате неисправного оборудования или программного обеспечения Пользователя.
5.1.2.5. Достоверность, честность, правильность и полноту данных и информации, вводимых Пользователем на Сайте.
5.1.2.6. Любые убытки, которые Пользователь может понести в случае умышленного или неосторожного нарушения любого положения настоящих Правил, а также вследствие несанкционированного доступа к коммуникациям другого Пользователя, Администрацией не возмещаются.
5.1.2.7. Задержки или сбои в процессе совершения операции, возникшие вследствие форс-мажорной ситуации, а также любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных смежных системах.
5.1.2.8. Действия систем переводов, банков, платежных систем и за задержки, связанные с их работой.
5.1.2.9. Ненадлежащее функционирование Сайта в случае, если Пользователь не имеет необходимых технических средств для его использования, а также не несет никаких обязательств по обеспечению пользователей такими средствами. 
5.1.2.10. Ущерб, вызванный действием третьих лиц, за которые Администрации не несет ответственности.
5.1.2.11. Ущерб, вызванный в связи с продажей товаров и предоставлением услуг, связанных с размещением на Сайте рекламных, акционных и информационных материалов, в частности товаров и услуг, выполненных ненадлежащим образом, без соблюдения требуемых стандартов, с нарушением Законодательства или отсутствием предлагаемых свойств.
5.1.2.12. Перебои в функционировании Сайта по причинам, не зависящим от Администрации, в частности по Форс-мажорным причинам.
5.1.2.13. Контент, размещенный на веб-сайтах, расположенных на других доменах, не принадлежащих Администрации, на которые были размещены гиперссылки в Сайте.

5.2. Права и обязанности Пользователя
5.2.1. Пользователь имеет право
5.2.1.1. Получить доступ к использованию Сайта после принятия настоящих Правил, Политики конфиденциальности и других обязательных соглашений.
5.2.1.2. Пользоваться всеми имеющимися на Сайте услугами, а также запрашивать консультации Специалистов, предлагаемых на Сайте.
5.2.1.3. Пользоваться Сайтом исключительно в целях, не связанных с его хозяйственной или профессиональной деятельностью (потребители), а лишь для себя, согласно предусмотренных Правил и не запрещенных Законодательством.
5.2.1.4. В процессе Опроса Пользователь может сообщать данные о состоянии своего здоровья используя носимые медицинские устройства (сертифицированные согласно пункту 7 статьи 60 Кодекса «О здоровье народа и системе здравоохранения» в соответствии с инструкцией по их применению).
5.2.1.5. Задавать любые вопросы, относящиеся к услугам Сайта по реквизитам, которые находятся в разделе Сайта «Контакты».
5.2.2. Пользователь обязуется:
5.2.2.1. Принять Правила, согласится на использование переданной информации для проведения диагностики и принять другие обязательные соглашения. Продолжение использования Сайта Пользователем означает принятие данных Правил и других обязательных соглашений. Принятие Правил является добровольным. Если условия Правил не будут приняты, Пользователь должен воздержаться от использования Сайта.
5.2.2.2. Пользователь несет персональную ответственность за проверку настоящих Правил перед их принятием.
5.2.2.3. Вводить полные и достоверные данные при проведении Опроса.
5.2.2.4. Пользователь несет персональную ответственность за сохранение конфиденциальности информации, которая может быть получена с компьютера или другого устройства (в том числе мобильного телефона) Пользователя путем непосредственного подсмотра третьими лицами во время проведения Опроса и/или другого доступа к компьютеру или устройству Пользователя.
5.2.2.5. Принять Правила, и другие обязательные соглашения каждый раз при проведении Опроса.
5.2.2.6. Пользователь должен быть лицом старше 19 лет с полной правовой дееспособностью.
5.2.2.7. Предоставлять по запросу Администрации дополнительную информацию, которая имеет непосредственное отношение к предоставляемым услугам данного Сайта.
5.2.2.8. Соблюдать имущественные и неимущественные права авторов и иных правообладателей при использовании Сайта.
5.2.2.9. Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу Сайта.
5.2.2.10. Не распространять с использованием Сайта любую конфиденциальную и охраняемую Законодательством Республики Казахстан информацию о физических либо юридических лицах. 
5.2.2.11. Избегать любых действий, в результате которых может быть нарушена конфиденциальность охраняемой Законодательством информации.
5.2.2.12. Не использовать Сайт для распространения информации рекламного характера, иначе как с согласия Администрации.
5.2.2.13. Не использовать сервисы Сайта с целью: 
	размещение ссылок на веб-сайты или контента, который является незаконным, нарушает любые права третьих лиц; пропагандирует порнографию, насилие, жестокость, ненависть и (или) дискриминацию по расовому, национальному, половому, религиозному, социальному признакам; содержит недостоверные сведения и (или) оскорбления в адрес конкретных лиц, организаций, органов власти;
	побуждения к совершению противоправных действий, а также содействия лицам, действия которых направлены на нарушение ограничений и запретов, действующих на территории Республики Казахстан;
	нарушения прав несовершеннолетних лиц и (или) причинение им вреда в любой форме;
	ущемления прав меньшинств;
	представления себя за другого человека или представителя организации и (или) сообщества без достаточных на то прав, в том числе за сотрудников данного Сайта;
	введения в заблуждение относительно Сайта и предоставляемых им Специалистов;
	некорректного сравнения Специалистов, а также формирования негативного отношения к лицам, (не) пользующимся консультациями определенных Специалистов, или осуждения таких лиц.
5.2.3. Пользователю запрещается:
5.2.3.1. Использовать любые устройства, программы, процедуры, алгоритмы и методы, автоматические устройства или эквивалентные ручные процессы для доступа, приобретения, копирования или отслеживания содержания Сайта;
5.2.3.2. Нарушать надлежащее функционирование Сайта;
5.2.3.3. Любым способом обходить навигационную структуру Сайта для получения или попытки получения любой информации, документов или материалов любыми средствами, которые специально не представлены сервисами данного Сайта;
5.2.3.4. Несанкционированный доступ к функциям Сайта, любым другим системам или сетям, относящимся к данному Сайту, а также к любым услугам, предлагаемым на Сайте;
5.2.3.5. Нарушать систему безопасности или аутентификации на Сайте или в любой сети, относящейся к Сайту. 
5.2.3.6. Выполнять обратный поиск, отслеживать или пытаться отслеживать любую информацию о любом другом Пользователе Сайта.
5.2.3.7. Использовать Сайт и его Содержание в любых целях, запрещенных Законодательством, а также подстрекать к любой незаконной деятельности или другой деятельности, нарушающей права Сайта или других лиц.

6. СЛУЧАИ РАСКРЫТИЯ ИНФОРМАЦИИ АДМИНИСТРАЦИЕЙ
6.1. Администрация вправе раскрыть любую собранную о Пользователе данного Сайта информацию, если раскрытие необходимо в связи с расследованием или жалобой в отношении неправомерного использования Сайта либо для установления (идентификации) Пользователя, который может нарушать или вмешиваться в права Администрации или в права других Пользователей Сайта.
6.2. Администрация имеет право раскрыть любую информацию о Пользователе, которую посчитает необходимой для выполнения положений действующего Законодательства или судебных решений, обеспечения выполнения условий настоящих Правил, защиты прав или безопасности Сайта и его Пользователей.
6.3. Администрация имеет право раскрыть информацию о Пользователе, если действующее Законодательство требует или разрешает такое раскрытие.
6.4. Администрация вправе без предварительного уведомления Пользователя прекратить и (или) заблокировать доступ к Сайту, если Пользователь нарушил настоящие Правила или содержащиеся в иных документах условия пользования Сайтом, а также в случае прекращения действия Сайта либо по причине технической неполадки или проблемы.
6.5. Администрация не несет ответственности перед Пользователем или третьими лицами за прекращение доступа к Сайту.

7.	РАЗРЕШЕНИЕ СПОРОВ
7.1. В случае возникновения любых разногласий или споров между Сторонами настоящих Правил обязательным условием до обращения в суд является предъявление претензии (письменного предложения о добровольном урегулировании спора).
7.2. Получатель претензии в течение 30 календарных дней со дня ее получения, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
7.3. При невозможности разрешить спор в добровольном порядке любая из Сторон вправе обратиться в суд за защитой своих прав, которые предоставлены им действующим Законодательством.
7.4. Любой иск в отношении условий использования Сайта должен быть предъявлен в течение 14 календарных дней после возникновения оснований для иска, за исключением защиты авторских прав на охраняемые в соответствии с Законодательством материалы Сайта. При нарушении условий данного пункта любой иск или основания для иска погашаются исковой давностью.
7.5. Если по тем или иным причинам одно или несколько положений Правил будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений Правил.
      </div>
    </div>
  </div>
  <div class="overlay overlay-documents-privacy">
    <div class="modal-documents">
      <span class="close-button" onclick="closePrivacy()">&#10006;</span>
      <div style="margin-left: 3%;">
ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ

1. ОБЩИЕ ПОЛОЖЕНИЯ

1.1. Документ «Политика конфиденциальности» (далее - Политика) описывает порядок обработки и использования персональных и иных данных на сайте calcuhls.com (далее - Сайт), принадлежащему ИП Ахметжанов О. (Республика Казахстан, г. Алматы, Тимирязева 99/1). 
1.2. Сайт не запрашивает Персональные данные пользователя, а также не предусматривает регистрацию пользователя.
1.3. Действующая редакция настоящей Политики, постоянно доступна для ознакомления, и размещена в сети интернет по адресу: calcuhls.com.
1.4. Продолжение использования Сайта пользователем означает принятие настоящей Политики.
1.5. Если пользователь не согласен с условиями настоящей Политики, он должен прекратить использование Сайта.

2. ОПРЕДЕЛЕНИЯ ТЕРМИНОВ
2.1. Администрация сайта (далее ‑ Администрация) – уполномоченные сотрудники на управление Сайтом.
2.2. Пользователь сайта (далее ‑ Пользователь) – физическое лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.
2.3. Законодательство — действующее законодательство Республики Казахстан.
2.4. Персональные данные – сведения, относящиеся к определенному или определяемому на их основании субъекту персональных данных, зафиксированные на электронном, бумажном и (или) ином материальном носителе.
2.5. Неперсональные данные — иные данные о Пользователе, не входящие в понятие Персональных данных, в частности фиксация, которых на электронном, бумажном и (или) ином материальном носителе не является обязательной в РК.
2.6. Данные — совокупность Персональных и Неперсональных данных.
2.7. Услуги — услуги, предоставляемые Администрацией на основании соглашения.

3. СБОР И ОБРАБОТКА ПЕРСОНАЛЬНЫХ ДАННЫХ
3.1. Продолжение использования Сайта Пользователем означает принятие настоящей Политики и других обязательных соглашений. Передавая Администрации Данные посредством Сайта, Пользователь подтверждает свое согласие на использование указанных Данных на условиях, изложенных в настоящей Политике.
3.2. Администрация собирает и хранит только те Данные, которые необходимы для оказания Услуг и взаимодействия с Пользователем.
3.3. Данные могут использоваться в следующих целях:
3.3.1 оказание Услуг Пользователю,
3.3.2 взаимодействие с Пользователем,
3.3.3 проведение статистических и иных исследований.
3.4. Администрация обрабатывает следующие Данные Пользователя (при их наличии):
3.4.1 пол,
3.4.2 возраст,
3.4.3 рост и вес,
3.4.4 срок беременности,
3.4.5 жалобы,
3.4.6 давность заболевания настоящего заболевания,
3.4.7 принимаемые лекарства,
3.4.8 ранее перенесённые заболевания, 
3.4.9 ранее перенесённые операции,
3.4.10 аллергия на лекарства,
3.4.11 аллергия на продукты питания и другие вещества,
3.4.12 вредные привычки,
3.4.13 общий анализ крови,
3.4.14 биохимический анализ крови,
3.4.15 профессия.
3.5. Сайт не запрашивает Персональные данные Пользователя, по которым его можно было бы однозначно идентифицировать, в том числе такие как фамилия, имя, отчество, дату и год и рождения, ИИН, № паспорта, № удостоверения личности. Пользователь не должен вводить эти данные на Сайте.
3.6. Пользователю запрещается указывать на Сайте свои Персональные данные, которые у него не запрашиваются.
3.7. Пользователю запрещается указывать на Сайте Персональные данные третьих лиц, которые у него не запрашиваются.

4. ПОРЯДОК ОБРАБОТКИ ДАННЫХ
4.1. Администрация обязуется использовать Данные Пользователя в соответствии с Законом «О персональных данных и их защите» Республики Казахстан и внутренними документами Администрации.
4.2. В отношении Данных Пользователя сохраняется их конфиденциальность, кроме случаев, когда указанные Данные являются общедоступными.
4.3. Администрация имеет право сохранять архивную копию Данных. Администрация имеет право хранить Данные на серверах вне территории Республики Казахстан.
4.4. Администрация имеет право передавать Данные Пользователя без его согласия следующим лицам:
4.4.1 государственным органам, в том числе органам дознания и следствия, и органам местного самоуправления по их мотивированному запросу;
4.4.2 в иных случаях, прямо предусмотренных действующим законодательством Республики Казахстан.
4.5. Администрация имеет право передавать Данные третьим лицам, не указанным в п.4.4. настоящей Политики, в следующих случаях:
4.5.1 Пользователь выразил свое согласие на такие действия,
4.5.2 передача необходима в рамках использования Пользователем Сайта или оказания Услуг Пользователю,
4.6. Администрация осуществляет автоматизированную обработку Данных.
4.7. Отзывы Пользователя, размещенные на Сайте, не являются конфиденциальной информацией и могут быть использованы Администрацией без ограничений.

5. ЗАЩИТА ДАННЫХ
5.1. Администрация осуществляет надлежащую защиту Данных в соответствии с Законодательством и принимает необходимые и достаточные организационные и технические меры для их защиты.
5.2. Применяемые меры защиты в том числе позволяют защитить Персональные данные от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ними третьих лиц.

6. ИНЫЕ ПОЛОЖЕНИЯ
6.1. К настоящей Политике и отношениям между Пользователем и Администрацией, возникающим в связи с применением Политики, подлежит применения права Республики Казахстан.
6.2. Все возможные споры, вытекающие из настоящего Соглашения, подлежат разрешению в соответствии с действующим Законодательством по месту регистрации Администрации. Перед обращением в суд Пользователь должен соблюсти обязательный досудебный порядок и направить Администрации соответствующую претензию в письменном виде. Срок ответа на претензию составляет 30 (тридцать) рабочих дней.
6.3. Если по тем или иным причинам одно или несколько положений Политики будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений Политики.
6.4. Администрация имеет право в любой момент изменять Политику (полностью или частично) в одностороннем порядке без предварительного согласования с Пользователем. Все изменения вступают в силу с момента ее размещения на Сайте.
6.5. Все предложения или вопросы по настоящей Политике следует сообщать по контактам, указанным на Сайте.
      </div>
    </div>
  </div>
  <div class="overlay overlay-info">
    <div class="modal">
      <span class="close-button" onclick="closeInfo()">&#10006;</span>
      О СЕРВИСЕ CALCUHLS<br>
      <br>
      Сервис calcuhls является площадкой, на которой пользователь сайта calcuhls.com может найти нужного специалиста для
      получения его консультации.
      <br>
      Сервис создан командой врачей и ИТ-специалистов с учетом современных технологий в области медицины и цифровой
      отрасли.
    </div>
  </div>
  <div class="overlay overlay-documents-consult">
    <div class="modal-documents">
      <span class="close-button" onclick="closeConsult()">&#10006;</span>
      <div style="margin-left: 3%;">
ПОРЯДОК ОКАЗАНИЯ КОНСУЛЬТАЦИЙ

1. ОБЩИЕ ПОЛОЖЕНИЯ
1.1. Документ «Порядок оказания консультаций» (далее - Порядок) регулирует порядок оказания консультаций, запрошенных через сайт calcuhls.com (далее - Сайт), принадлежащему ИП Ахметжанов О. (Республика Казахстан, г. Алматы, Тимирязева 99/1).
1.2. Сайт является площадкой, на которой пользователь может найти нужного специалиста и получить его консультацию. Администрация Сайта не несет ответственности за содержание и последствия консультации специалиста, найденного через Сайт.
1.3. Действующая редакция настоящего Порядка, постоянно доступна для ознакомления, и размещена в сети интернет по адресу: calcuhls.com.
1.4. Если пользователь запрашивает консультацию специалиста на Сайте, то это означает согласие и принятие пользователем настоящего Порядка.
1.5. Если пользователь не согласен с условиями настоящего Порядка, он не должен запрашивать консультацию специалиста через Сайт.

2. ОПРЕДЕЛЕНИЯ ТЕРМИНОВ
2.1. Администрация сайта (далее ‑ Администрация) – уполномоченные сотрудники на управления Сайтом.
2.2. Пользователь сайта (далее ‑ Пользователь) – физическое лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.
2.3. Специалист – врач, медицинский работник, социальный работник, психолог, диетолог или другой профессиональный работник, предлагающий свои услуги через Сайт.
2.4. Средство коммуникации - информационно-коммуникационная технология, обеспечивающая дистанционное взаимодействие Пользователя и Специалиста при оказании консультации, способная передавать файлы, текстовые, голосовые, видео-сообщения, а также осуществлять голосовые и видео-звонки.
2.5. Консультация – это дистанционная консультационная услуга, с целью диагностики, лечения, реабилитации, профилактики заболеваний, а также рекомендации по диете, образу жизни, психологическая помощь и другие профильные услуги Специалиста, зарегистрированного на Сайте, запрошенная через Сайт и оказанная с помощью Средства коммуникации.
2.6. Запрос – запрос Консультации выбранного Специалиста через соответствующую кнопку Сайта – «отправить специалисту».
2.7. Оплата – запрос и оплата Консультации выбранного Специалиста через соответствующую кнопку Сайта – «оплатить и отправить специалисту».
2.8. Заключение – текстовый файл, являющийся итогом Консультации.
2.9. Законодательство — действующее законодательство Республики Казахстан.
2.10. Персональные данные – сведения, относящиеся к определенному или определяемому на их основании субъекту персональных данных, зафиксированные на электронном, бумажном и (или) ином материальном носителе.

3.	ПРЕДМЕТ ПРАВИЛ
3.1. Предметом настоящих Правил является порядок оказания Пользователю Консультаций, запрошенных через Сайт.
3.2. Настоящий Порядок является публичной офертой. Запрашивая Консультацию, Пользователь считается присоединившимся к настоящему Порядку. 
3.3. Порядок оказания Консультаций регулируется нормами действующего Законодательства.

4. ПРИНЦИПЫ ОКАЗАНИЯ КОНСУЛЬТАЦИЙ
4.1. Участниками процесса оказания Консультаций являются с одной стороны Пользователь, с другой стороны Специалист.
4.2. Консультации проводятся в плановой форме – при заболеваниях и состояниях, не сопровождающихся угрозой жизни пациента, отсрочка оказания которой на определенное время не повлечет за собой ухудшение состояния Пользователя, а также при проведении профилактических мероприятий.
4.3. Консультации предоставляются для следующих целей:
4.3.1. Определения целесообразности направления Пользователя на очный прием.
4.3.2. Диагностика, лечение, реабилитация, профилактика заболеваний.
4.3.3. Оценки эффективности лечебно-диагностических мероприятий.
4.3.4. Рекомендации по диете, образу жизни.
4.3.5. Психологическая, социальная и другая помощь в зависимости от профиля Специалиста.
4.4. После Оплаты Пользователь получит сообщение от Специалиста на указанное Средство коммуникации в виде уточняющих вопросов, дополнительных обследований (если таковые будут), сообщение от Специалиста должно прийти не более чем через 3 суток после Оплаты. 
4.5. После Оплаты и получения ответов на уточняющие вопросы, а также результатов дополнительных обследований (если таковые будут) Заключение должно прийти не более чем через 3 суток. 
4.6. После Оплаты Консультация Специалиста считается оплаченной и на Специалиста накладываются обязательства оказать Пользователю Консультацию в рамках данной Оплаты. 
4.7. Если после Оплаты потребуется очный прием Специалиста, то по проведенной Оплате Консультация должна быть оказана. При этом за очный прием Специалиста может потребоваться дополнительный платеж.
4.8. После Запроса Пользователь получит сообщение от Специалиста на указанное Средство коммуникации. После Запроса на Специалиста не накладываются обязательства оказать Пользователю Консультацию. 
4.9. Средство коммуникации Сайт не предоставляет.
4.10. Дистанционные консультации могут проводиться в режиме реального времени (когда Пользователь и Специалист находятся на связи в одно и то же время) и/или отложенных консультаций (когда Пользователь и Специалист не находятся на связи в одно и то же время). Дистанционные консультации проходят в виде текстовых и/или голосовых и/или видео сообщений. Форму Дистанционной консультации определяет Специалист с согласия Пользователя. Вне зависимости от формы Дистанционной консультации итогом ее должно быть Заключение.
4.11. Дистанционная консультация считается завершенной после получения Пользователем Заключения и ответа Специалиста на уточняющие вопросы Пользователя в рамках проведенной Консультации (если таковые будут).
4.12. Администрация не несет ответственности за действия систем переводов, банков, платежных систем и за задержки, связанные с их работой.
4.13. Администрация не несет ответственности за содержание и последствия Консультации Специалиста, а также за действия или бездействия Пользователя в связи с информацией, полученной на Консультации.
4.14. Консультация осуществляется с соблюдением требований, установленных Законодательством, в том числе в области защиты Персональных данных, соблюдением тайны медицинского работника.

5.	ПРАВА И ОБЯЗАННОСТИ СТОРОН
5.1. Права и обязанности Специалиста
5.1.1. В процессе Дистанционной консультации Специалист может запросить Персональные данные Пользователя, назначить дополнительные обследования, задать уточняющие вопросы и попросить отправить фото оригинальных документов, анализов, фото и/или видео явлений, связанных с состоянием здоровья Пользователя. Если просьба Специалиста не была выполнена, Специалист выдает Заключение и отмечает в Заключении, что не на все вопросы получены ответы или может отказаться от проведения Консультации, в этом случае если была проведена Оплата, Пользователь имеет право подать заявку на возврат средств.
5.1.2. Если в процессе Консультации Пользователь задал вопросы, касающиеся проводимой Консультации, Специалист должен на них ответить.
5.1.3. Специалист может отказаться от проведения Консультации, объяснив причину отказа Пользователю, в этом случае если была проведена Оплата, Пользователь имеет право подать заявку на возврат средств.

5.2. Права и обязанности Пользователя
5.2.1. Если в процессе Дистанционной консультации Специалист задал Пользователю уточняющие вопросы, запросил Персональные данные, попросил предоставить дополнительные обследования и другую информацию, связанную с состоянием здоровья Пользователя в рамках проводимой Консультации, то Пользователь должен по возможности выполнить просьбу Специалиста. 
5.2.2. В процессе Консультации Пользователь может задавать уточняющие вопросы как в ходе самой Консультации, так и по ее результатам – Заключению.
5.2.3. В процессе Консультации при наличии у Специалиста уточняющих вопросов для ответа на них Пользователь может сообщать данные о состоянии своего здоровья используя носимые медицинские устройства (сертифицированные согласно пункту 7 статьи 60 Кодекса «О здоровье народа и системе здравоохранения» в соответствии с инструкцией по их применению).
5.2.4. В процессе Консультации Пользователь должен предоставлять полные и достоверные данные.
5.2.5. В случае если Консультация не была оказана или была оказана с нарушением настоящего Порядка, Пользователь имеет право подать заявку на возврат средств.
5.2.6. В процессе Консультации при общении со Специалистом Пользователь должен соблюдать нормы этики, вести себя вежливо, не использовать ненормативную лексику и по возможности писать и говорить правильно, без грамматических ошибок.

6.	РАЗРЕШЕНИЕ СПОРОВ
6.1. В случае возникновения любых разногласий или споров между сторонами настоящего Порядка обязательным условием до обращения в суд является предъявление претензии (письменного предложения о добровольном урегулировании спора).
6.2. Получатель претензии в течение 30 календарных дней со дня ее получения, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
6.3. При невозможности разрешить спор в добровольном порядке любая из Сторон вправе обратиться в суд за защитой своих прав, которые предоставлены им действующим Законодательством.
6.4. Если по тем или иным причинам одно или несколько положений Порядка будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений Порядка.
      </div>
    </div>
  </div>
  <script src="{% static 'js/script.js' %}"></script>
  {% block script %} {% endblock %}
</body>
</html>