{% extends 'diagnostics/base2.html' %}

{% block style %}
    <style>
        .form-section {
            margin-bottom: 20px;
        }
        .form-section label {
            display: block;
            margin-top: 10px;
        }
        .form-section input[type="text"],
        .form-section input[type="email"],
        .form-section input[type="number"],
        .form-section input[type="date"] {
            padding: 5px;
            margin-top: 5px;
        }

        .form-section .add-language {
            margin-top: 10px;
        }
        .form-section .education-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        } 

        .form-section .education-table th,
        .form-section .education-table td {
            border: 1px solid #000;
            padding: 5px;
            text-align: left;
        }

        .logout-link {
            width: 100%;  /* Ширина элемента, чтобы текст мог выравниваться внутри */
            text-align: right;  /* Выравнивание текста по правому краю */
            font-size: 16px;
        }

        .no-bold label {
            font-weight: normal;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="sidebar">
            <div class="sidebar-item"><b>Общие данные</b></div>
            <div class="sidebar-item" onclick="submitForm('{% url 'services_clinic' %}')">Услуги</div>
            <div class="sidebar-item" onclick="submitForm('{% url 'specialists_education' %}')">Языки и образование специалистов</div>
        </div>

        <div class="content">
            <div class="logout-link">
                {{ user.email }}<a style="padding: 5px;" href="{% url 'logout' %}">Выйти</a>
            </div>
            <h2>Общие данные</h2>
            <p style="margin: 0;">Данные будут сохранены при клике на кнопку «сохранить»! </p>
            <p style="margin-top: 0;">Обязательные поля отмечены звездочкой (*).<p>
            <form id="form" action="{% url 'cabinet_clinic' %}" method="post">
                {% csrf_token %}
                <div class="form-section">
                    {{ form.last_name_or_clinic_name.label_tag }}
                    {{ form.last_name_or_clinic_name }}

                    {{ form.first_name_or_clinic_address.label_tag }}
                    {{ form.first_name_or_clinic_address }}

                    {{ form.patronymic_or_clinic_hours.label_tag }}
                    {{ form.patronymic_or_clinic_hours }}

                </div>

                <div class="form-section">
                    <label>Укажите языки, на которых могут быть предоставлены услуги*:</label>
                    <div class="checkbox-group">
                        {% for language in form.languages %}
                            <div class="checkbox  no-bold">
                                {{ language }}
                            </div>
                        {% endfor %}
                    </div>
                    {{ form.other_language.label_tag }}
                    {{ form.other_language }}
                </div>

                <div class="form-section">
                    <p>Пояснение: Указанные контакты (whatsapp, telegram, телефон) для пациентов не публикуются. Они нужны чтобы Администрация сайта calculhls.com могла с Вами связаться.</p>

                    {{ form.whatsapp.label_tag }}
                    {{ form.whatsapp }}

                    {{ form.telegram.label_tag }}
                    {{ form.telegram }}

                    {{ form.phone.label_tag }}
                    {{ form.phone }}

                    {{ form.country.label_tag }}
                    {{ form.country }}

                    {{ form.city_or_locality.label_tag }}
                    {{ form.city_or_locality }}
                </div>

                <div class="form-section">
                    {{ form.computer_analysis.label_tag }}
                    {% for radio in form.computer_analysis %}
                        <div class="radio-group  no-bold">
                            {{ radio }}
                        </div>
                    {% endfor %}
                </div>

                <div class="form-section">
                    {{ form.currency.label_tag }}
                    {{ form.currency }}
                </div>

                <div class="form-section">
                    {{ form.academic_degree_or_home_call.label_tag }}
                    <div class="no-bold">{{ form.academic_degree_or_home_call }}</div>
                </div>

                <button type="button" onclick="submitForm('{% url 'cabinet_clinic' %}')">сохранить</button>
                <button type="button" onclick="submitForm('{% url 'services_clinic' %}')">далее</button>

            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>

        function submitForm(url) {
            var form = document.getElementById('form');

            // Проверка валидности формы перед отправкой
            if (!form.checkValidity() || !validateForm()) {
                // Остановите отправку формы, если она невалидна
                event.preventDefault();
                form.reportValidity(); // Показывает сообщения об ошибках для невалидных полей
                return;
            }

            // Создайте объект для AJAX-запроса
            var xhr = new XMLHttpRequest();
            xhr.open('POST', form.action, true);
            
            // Установите обработчик события для завершения запроса
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200 && validateForm()) {
                    // Перенаправьте пользователя на указанную страницу
                    window.location.href = url;
                }
            };

            // Отправьте форму с использованием AJAX
            xhr.send(new FormData(form));
        }

        function validateForm() {
            const checkboxes = document.querySelectorAll('input[name="languages"]:checked');
            const otherLanguage = document.querySelector('input[name="other_language"]').value.trim();

            if (checkboxes.length === 0 && otherLanguage === "") {
                alert("Пожалуйста, выберите хотя бы один язык или добавьте другой язык.");
                return false; // предотвращает отправку формы
            }

            return true; // позволяет отправить форму
        }
    </script>

{% endblock %}