{% extends 'diagnostics/base2.html' %}
{% load custom_filters %}

{% block style %}
<style>
    .logout-link {
        width: 100%;
        /* Ширина элемента, чтобы текст мог выравниваться внутри */
        text-align: right;
        /* Выравнивание текста по правому краю */
        font-size: 16px;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    /* Убираем маркеры списка для всех li */
    li {
        list-style-type: none;
    }
    .no-bold label {
        font-weight: normal;
    }
    textarea{
        font-family: Arial;
    }
    .overlay-services .modal-documents {
        width: 40%;
        white-space: normal; /* Allow text to wrap */
    }

    .modal-documents form {
        display: flex;
        flex-direction: column;
    }

    .modal-documents form ul {
        list-style-type: none; /* Remove bullet points from list */
        padding: 0; /* Remove padding from list */
        margin: 0; /* Remove margin from list */
    }

    .hidden {
        display: none;
    }
</style>
{% endblock %}

{% block content %}

<div class="container">

    <div class="sidebar">
        <div class="sidebar-item" onclick="window.location.href='{% url 'cabinet_clinic' %}'">Общие данные</div>
        <div class="sidebar-item"><b>Услуги</b></div>
        <div class="sidebar-item" onclick="window.location.href='{% url 'specialists_education' %}'">Языки и образование специалистов</div>

    </div>

    <div class="content">
        <div class="logout-link">
            {{ user.email }}<a style="padding: 5px;" href="{% url 'logout' %}">Выйти</a>
        </div>
        <h2>Добавление новой услуги</h2>
        <button style="margin-bottom: 2%;" onclick="showFormServices()">Добавить услугу</button>
        {% if services %}
            {% for s in services %}
            <div class="data-summary">
                <a href="#" style="display: flex; justify-content: flex-end;" onclick="confirmDelete('{{ s.id }}')">&#10006;</a>
                <div class="overlay" id="deleteConfirmationModal" style="display: none;">
                    <div class="modal">
                        <div class="modal-content">
                          <p>Вы действительно хотите удалить данную услугу?</p>
                          <div class="modal-buttons">
                            <div style="cursor: pointer;" onclick="closeDelete()">Нет</div>
                            <a href="{% url 'delete_service' s.id %}">Да</a>
                          </div>
                          
                        </div>
                    </div>
                </div>
                
                {% if s.persServ == 'персонализированная услуга (указываются данные специалиста)' %}
                    <div>{{ s.last_name_or_languages }} {{ s.first_name_or_additional_language }} {{ s.middle_name }}</div>
                    <div>Пол: {{ s.gender }}</div>
                    <div>Дата рождения: {{ s.birth_date }}</div>
                {% endif %}
                
                <div>{{ s.service_type.1 }}</div>
                {% if s.service_type.1 == 'процедура (манипуляция, операция, …)' %}
                    <div>{{ s.service_type.2 }}</div>
                {% endif %}
                <div>{{ s.service_category.1 }}</div>
                <div>{{ s.service_category.2 }}</div>

                {% if s.persServ == 'персонализированная услуга (указываются данные специалиста)' %}
                    {% if s.service_category.1 != 'не медицинская услуга' %}
                        <div>Действующий сертификат по специальности: </div>
                            <div style="margin-left: 2%;">начало: {% if s.service_category.3 %}{{ s.service_category.3 }}{% else %}--{% endif %}</div>
                            <div style="margin-left: 2%;">окончание: {% if s.service_category.4 %}{{ s.service_category.4 }}{% else %}--{% endif %}</div>
                        <div>Категория по специальности: {% if s.service_category.5 %}{{ s.service_category.5 }}{% else %}--{% endif %}</div>
                    {% endif %}
                {% endif %}

                <div>
                    Возраст пациентов, лет:
                    {% if s.age_from %}
                        от {{ s.age_from }}
                    {% else %}
                        от --
                    {% endif %}
                    до
                    {% if s.age_to %}
                        {{ s.age_to }}
                    {% else %}
                        --
                    {% endif %}
                </div>

                {% if s.persServ == 'персонализированная услуга (указываются данные специалиста)' %}
                    <div>Стаж по предлагаемой услуге, лет: {{ s.experience }}</div>
                {% endif %}
                <div>Стоимость, тенге: {{ s.cost }}</div>
                <div>{{ s.online_payment }}</div>
                
                {% if s.keywords %}
                <div>Ключевые поисковые слова предлагаемой услуги: {{ s.keywords }}</div>
                {% else %}
                <div>Ключевые поисковые слова предлагаемой услуги: --</div>
                {% endif %}
                

                {% if s.emailS %}
                <div>Email услуги: {{ s.emailS }}</div>
                {% else %}
                <div>Email услуги: --</div>
                {% endif %}
                
                {% if s.appointment_time %}
                <div>Время приема: {{ s.appointment_time }}</div>
                {% else %}
                <div>Время приема: --</div>
                {% endif %}

                {% if s.home_service %}
                    <div>Возможность оказать данную услугу на дому: {{ s.home_service }}</div>
                {% else %}
                    <div>Возможность оказать данную услугу на дому: --</div>
                {% endif %}
                

                <!-- <script id="languages-data" type="application/json">
                    {{ s.last_name_or_languages|safe }}
                </script> -->
                {% if s.persServ == 'не персонализированная услуга (не указываются данные специалиста)' %}
                    <div>Языки, на которых может быть предоставлена данная услуга:</div>
                    {% for l in s.last_name_or_languages|to_list %}
                        <div style="margin-left: 3%;">{{ l }}</div>
                    {% endfor %}
                    {% if s.first_name_or_additional_language %}
                        <div style="margin-left: 3%;">{{ s.first_name_or_additional_language }}</div>
                    {% endif %}
                {% endif %}

                {% if s.additional_info %}
                <div>Дополнительная информация о предлагаемой услуге: {{ s.additional_info }}</div>
                {% else %}
                <div>Дополнительная информация о предлагаемой услуге: --</div>
                {% endif %}

                <!-- <div>(взимается % от стоимости услуги за транзакционные издержки) </div> -->
                <!-- {% if user.last_name_or_clinic_name %}
                <div>Название клиники: {{ user.last_name_or_clinic_name }}</div>
                {% else %}
                <div>Название клиники: --</div>
                {% endif %} -->

                <!-- {% if user.first_name_or_clinic_address %}
                <div>Адрес: {{ user.first_name_or_clinic_address }}</div>
                {% else %}
                <div>Адрес: --</div>
                {% endif %} -->

            </div>
            {% endfor %}
        {% else %}
        <h3>Добавленных услуг нет.</h3>
        {% endif %}
        <div class="overlay-services overlay-form-services">
            <div class="modal-documents" style="width: 40%;">
                <span class="close-button" onclick="closeFormServices()">&#10006;</span>
                <div style="margin-left: 3%;">

                    <form id="serviceForm" method="post" onsubmit="return validateForm()">
                        {% csrf_token %}
                        <h1>Добавление новой услуги</h1>

                        <div>
                            {{ form.personalization.label_tag }}
                            <div class="no-bold">{{ form.personalization.0 }}</div>
                            

                            <div id="personalizedFields" class="hidden" style="margin-left: 4%;">
                                {{ form.last_name.label_tag }}
                                {{ form.last_name }}
                                {{ form.first_name.label_tag }}
                                {{ form.first_name }}
                                {{ form.patronymic.label_tag }}
                                {{ form.patronymic }}
                                {{ form.gender.label_tag }}
                                {{ form.gender }}
                                {{ form.date_of_birth.label_tag }}
                                {{ form.date_of_birth }}
                            </div>

                            
                            <div class="no-bold">{{ form.personalization.1 }}</div>
                        </div>
                        


                        <div style="margin-top: 3%;">
                            {{ form.serviceType.label_tag }}
                            <div class="no-bold">{{ form.serviceType.0 }}</div>
                            
                            <div id="consultationDetails" class="hidden" style="margin-left: 4%;">
                                <div class="no-bold">{{ form.consultationType.label_tag }}{{ form.consultationType }}</div>
                            </div>
                            <div class="no-bold">{{ form.serviceType.1 }}</div>
                            <div id="procedureDetails" class="hidden" style="margin-left: 4%;">
                                {{ form.procedureName.label_tag }}{{ form.procedureName }}
                            </div>
                        </div>
                        
                        
                        
                        
                        <div style="margin-top: 3%;">{{ form.serviceCategory.label_tag }}
                            <div class="no-bold">{{ form.serviceCategory.0 }}</div>
                            <div id="medicalDetails" class="hidden" style="margin-left: 4%;">
                                <div class="no-bold">{{ form.medicalType.label_tag }}{{ form.medicalType }}</div>
                                {{ form.doctorSpecialty.label_tag }}{{ form.doctorSpecialty }}
                                <div id="doctorDetails" class="hidden">
                                    
                                    

                                    <label style="margin-top: 2%;">Действующий сертификат по специальности:</label>
                                    {{ form.certificateStart.label_tag }}{{ form.certificateStart }}
                                    {{ form.certificateEnd.label_tag }}{{ form.certificateEnd }}

                                    <div style="margin-top: 3%;">
                                        <label>Категория по специальности:</label>
                                        {{ form.category.label_tag }}<div class="no-bold">{{ form.category }}</div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="no-bold">{{ form.serviceCategory.1 }}</div>
                            <div id="nonMedicalDetails" class="hidden" style="margin-left: 4%;">
                                {{ form.nonMedicalSpecialty.label_tag }}{{ form.nonMedicalSpecialty }}
                            </div>
                        </div>          

                        <div style="margin-top: 3%;">
                            {{ form.ageFrom.label_tag }}
                            <div>(если поле «от» или «до» пустые, значит нет ограничения по возрасту пациентов) </div>
                            {{ form.ageFrom }}
                            {{ form.ageTo.label_tag }}
                            {{ form.ageTo }}
                        </div>
                        
                        <div style="margin-top: 3%;" id="experienceField" class="hidden">
                            {{ form.experience.label_tag }}
                            {{ form.experience }}
                        </div>
                        

                        <div style="margin-top: 3%;">
                            {{ form.cost.label_tag }}
                            {{ form.cost }}
                        </div>
                        

                        <div style="margin-top: 3%;">
                            {{ form.onlinePayment.label_tag }}
                            <div class="no-bold">{{ form.onlinePayment }}</div>
                        </div>
                        

                        <div style="margin-top: 3%;">
                            {{ form.keywords.label_tag }}
                            {{ form.keywords }}
                        </div>

                        <div style="margin-top: 3%;">
                            {{ form.email.label_tag }}
                            <div>(на него будут приходить заявки пациентов по данной услуге,<br>
                                заполняется если есть отличие от Email, указанного при регистрации)
                            </div>
                            {{ form.email }}
                        </div>

                        <div style="margin-top: 3%;">
                            <label for="id_appointmentTime">Время приема в клинике по данной услуге:</label>
                            <div>(заполняется если есть отличие от поля «Время работы клиники»)</div>
                            {{ form.appointmentTime }}
                        </div>
                        

                        <div style="margin-top: 3%;">
                            {{ form.homeService.label_tag }}
                            <div>(заполняется если есть отличие от аналогичного поля в общих данных)</div>
                            <div class="no-bold">{{ form.homeService }}</div>
                        </div>


                        <div id="languagesDetails" class="hidden" style="margin-top: 3%;">
                            <label>Укажите языки, на которых может быть предоставлена данная услуга:</label>
                            <div>(заполняется если данная услуга может быть предоставлена на других языках, чем указаны в общих данных)</div>
                            {{ form.languages }}
                            {{ form.other_language.label_tag }}
                            {{ form.other_language }}
                        </div>

                        <div style="margin-top: 3%;">
                            {{ form.additionalInfo.label_tag }}
                            {{ form.additionalInfo }}
                        </div>

                        <button type="submit">сохранить услугу</button>
                    </form>

                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script>


        function confirmDelete(serviceId) {
            // Открываем модальное окно
            var modal = document.getElementById('deleteConfirmationModal');
            modal.style.display = 'flex';
            
            // Передаем id услуги для удаления в функцию удаления
            document.getElementById('deleteServiceId').value = serviceId;
        }

        function validateForm() {
            var valid = true;
            var consultationDetails = document.getElementById('consultationDetails');
            var procedureDetails = document.getElementById('procedureDetails');
            var medicalDetails = document.getElementById('medicalDetails');
            var nonMedicalDetails = document.getElementById('nonMedicalDetails');
            var doctorDetails = document.getElementById('doctorDetails');
            var personalizedFields = document.getElementById('personalizedFields');
            var languagesDetails = document.getElementById('languagesDetails');

            if (!consultationDetails.classList.contains('hidden')) {
                if (!document.querySelector('input[name="consultationType"]:checked')) {
                    valid = false;
                    alert('Выберите тип консультации.');
                }
            }

            if (!procedureDetails.classList.contains('hidden')) {
                if (!document.querySelector('input[name="procedureName"]').value) {
                    valid = false;
                    alert('Введите название процедуры.');
                }
            }

            if (!medicalDetails.classList.contains('hidden')) {
                if (!document.querySelector('input[name="medicalType"]:checked')) {
                    valid = false;
                    alert('Выберите тип медицинской услуги.');
                } else if (!doctorDetails.classList.contains('hidden')) {
                    if (!document.querySelector('input[name="doctorSpecialty"]').value) {
                        valid = false;
                        alert('Введите название специальности.');
                    }
                }
            }

            if (!nonMedicalDetails.classList.contains('hidden')) {
                if (!document.querySelector('input[name="nonMedicalSpecialty"]').value) {
                    valid = false;
                    alert('Введите название специальности.');
                }
            }

            if (!personalizedFields.classList.contains('hidden')) {
                if (!document.querySelector('input[name="last_name"]').value) {
                    valid = false;
                    alert('Введите фамилию.');
                }
                if (!document.querySelector('input[name="first_name"]').value) {
                    valid = false;
                    alert('Введите имя.');
                }
                if (!document.querySelector('input[name="gender"]:checked')) {
                    valid = false;
                    alert('Выберите пол.');
                }
                if (!document.querySelector('input[name="date_of_birth"]').value) {
                    valid = false;
                    alert('Введите дату рождения.');
                }
                if (!document.querySelector('input[name="experience"]').value) {
                    valid = false;
                    alert('Введите стаж.');
                }
            }

            return valid;
        }

        function toggleServiceDetails() {
            var serviceType = document.querySelector('input[name="serviceType"]:checked').value;

            var consultationDetails = document.getElementById('consultationDetails');
            var procedureDetails = document.getElementById('procedureDetails');
            
            if (serviceType === 'консультация') {
                consultationDetails.classList.remove('hidden');
            } else {
                consultationDetails.classList.add('hidden');
            }

            if (serviceType === 'процедура (манипуляция, операция, …)') {
                procedureDetails.classList.remove('hidden');
            } else {
                procedureDetails.classList.add('hidden');
            }
        }

        function toggleCategoryDetails() {
            var serviceCategory = document.querySelector('input[name="serviceCategory"]:checked').value;

            var medicalDetails = document.getElementById('medicalDetails');
            var nonMedicalDetails = document.getElementById('nonMedicalDetails');
            
            if (serviceCategory === 'медицинская услуга') {
                medicalDetails.classList.remove('hidden');
                nonMedicalDetails.classList.add('hidden');
            } else {
                medicalDetails.classList.add('hidden');
                nonMedicalDetails.classList.remove('hidden');

                document.querySelector('input[name="certificateStart"]').value = "";
                document.querySelector('input[name="certificateEnd"]').value = "";
            }
            if (serviceCategory === 'медицинская услуга' || serviceCategory === 'не медицинская услуга') {
                var medicalType = document.querySelector('input[name="medicalType"]:checked');
                toggleMedicalTypeDetails(medicalType ? medicalType.value : null);
            }
        }

        function toggleMedicalTypeDetails(type) {
            var isMedical = document.querySelector('input[name="serviceCategory"]:checked').value === 'медицинская услуга';
            var isPersonalized = document.querySelector('input[name="personalization"]:checked').value === 'персонализированная услуга (указываются данные специалиста)';
            
            if (isMedical && isPersonalized) {
                document.getElementById('doctorDetails').classList.remove('hidden');
            } else {
                document.getElementById('doctorDetails').classList.add('hidden');

                document.querySelector('input[name="certificateStart"]').value = "";
                document.querySelector('input[name="certificateEnd"]').value = "";
            }
        }

        function togglePersonalizationDetails() {
            var personalization = document.querySelector('input[name="personalization"]:checked').value;
            var isPersonalized = personalization === 'персонализированная услуга (указываются данные специалиста)';
            
            var personalizedFields = document.getElementById('personalizedFields');
            var languagesDetails = document.getElementById('languagesDetails');
            var experienceField = document.getElementById('experienceField')
            console.log(1)
            if (isPersonalized) {
                personalizedFields.classList.remove('hidden');
                experienceField.classList.remove('hidden');
                languagesDetails.classList.add('hidden');
            } else {
                personalizedFields.classList.add('hidden');
                experienceField.classList.add('hidden')
                languagesDetails.classList.remove('hidden');

                document.querySelector('input[name="date_of_birth"]').value = "";
            }

            if (!isPersonalized) {
                document.getElementById('doctorDetails').classList.add('hidden');

                document.querySelector('input[name="certificateStart"]').value = "";
                document.querySelector('input[name="certificateEnd"]').value = "";
            }
            else{
                document.getElementById('doctorDetails').classList.remove('hidden');
            }
        }

        document.querySelectorAll('input[name="serviceType"]').forEach(function (radio) {
            radio.addEventListener('click', toggleServiceDetails);
        });

        document.querySelectorAll('input[name="serviceCategory"]').forEach(function (radio) {
            radio.addEventListener('click', toggleCategoryDetails);
        });

        document.querySelectorAll('input[name="medicalType"]').forEach(function (radio) {
            radio.addEventListener('click', function () {
                toggleMedicalTypeDetails(this.value);
            });
        });

        document.querySelectorAll('input[name="personalization"]').forEach(function (radio) {
            radio.addEventListener('click', togglePersonalizationDetails);
        });

        window.addEventListener('load', function () {
            toggleServiceDetails();
            toggleCategoryDetails();
            togglePersonalizationDetails();
        });

        // const languagesDataElement = document.getElementById('languages-data');
        // if (languagesDataElement) {
        //     const languagesString = languagesDataElement.textContent;
        //     const languages = eval(languagesString);
        //     const list = document.getElementById('languages-list');
        //     languages.forEach(function(language) {
        //         const listItem = document.createElement('li');
        //         listItem.textContent = language;
        //         list.appendChild(listItem);
        //     });
        // }
    </script>
{% endblock %}